body {
    background-color: darkgray;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    color: gold;
}

#checkAnswers {
    text-align: center;
    color: seagreen;
}


 h3 {
     text-align: center;
 }


input {
    margin-left: 700px;
}

#check { 
    margin-left: 770px;
}

#points {
    text-align: center;
}




